* {  
    color: white;
    padding: 7px;
    margin: 5px;
    
}

body {
    margin: 0 400px;
}

hr {
    height: 1px;
    background-color:#FFFFFF;
    border-radius: 10px;
    
}

div {
    background-color: #34314D;
    border-radius: 10px;
}

.header{
    background-color:#FFFFFF ;
    border-radius: 10px;
 }


.header nav a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.header nav a:hover {
    text-decoration: none;
    color: #7BBF88;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
}

#thiago {
    border: 4px solid #7BBF88;
    padding: 0;
    border-radius: 10px;
    }

.about-me {
    display: flex;
    flex-flow: row nowrap;
    column-count: 2;
}

.about-me-text {
    display:flex;
    flex-flow: column nowrap;
}

.about-me h1 {
    text-align: center;
    font-size: 35px;
}

.span1 {
    font-weight: bold;
}

.span2 {
    font-style: italic;
}

.social-media ul {
    display: flex;
}

.social-media ul li {
    list-style:none;
    
}

.social-media img {
    width: 100px;
}

.footer {
    display: flex;
    flex-flow: column nowrap;
}

.footer nav a {
    text-decoration: none;

}